@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Inter-Thin.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-Thin.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-ThinItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-ExtraLight.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter-Light.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-Light.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-LightItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-Regular.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Italic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-Italic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter-Medium.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-Medium.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-Bold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-ExtraBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter-Black.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-Black.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
         url("/fonts/Inter-BlackItalic.woff?v=3.19") format("woff");
  }

html {
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.dark-mode {
    filter: invert(100%) !important;
}

main {
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 8px;
}

h2, h3 {
    font-size: 16px;
    font-weight: 400;
}

input {
    display: flex;
    background: black;
    color: white;
    border: none;
    padding: 8px 16px;
    width: auto;
    /* min-width: 300px; */
    max-width: calc(100vw - 32px);
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    border-radius: 5px;
}

input:active, input:active, input:focus {
    outline: none;
}

#decimal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

#decimal-number {
    font-size: 36px;
    font-weight: 700;
    margin: 8px 0;
}

button {
    width: auto;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
    color: rgba(0,0,0, 0.4) !important;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    font-size: 12px;
}

a, a:link, a:hover, a:visited, a:active, a:focus {
    color: initial;
}

#toggle-mode {
    position: absolute;
    bottom: 56px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#toggle-mode img {
    width: 24px;
    height: auto;
    cursor: pointer !important;
}